    *{
        box-sizing: border-box;
    }

    @media (max-width: 767px) {
        html{
            width:100%;
            font-family: "Noto Sans JP", sans-serif;
            padding: 0;
            margin: 0;
        }
    
        body{
            margin: 0;
        }
        
        
        .g-col-6{
            flex: 50%;
        }

    
        
        .title_section{
            font-size: 20px;
            line-height: 29px;
            display: flex;
            justify-content: center;
        }

        .title_section::before{
            width: 25%;
            right: 50px;
        }

        .title_section::after{
            width: 25%;
            left: 50px;
        }
    
    
        .body{
            width: 100%;
            padding-top: 30px;
            background-color: var(--gray) ;
           
        }

        .body__activity--banner p{
            font-size: 14px;
            line-height: calc(29/14);
        }
    
        .body__header{
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
            position: relative;
        }

        .body__header::before{
            content: "";
            width: 0;
            height: 100px   ;
            border-style: solid;
            border-width: 0 0 305px 233px;
            border-color: transparent transparent #ffffff transparent;
            line-height: 0px;
            position: absolute;
            bottom: 0;
            right: 0;
            overflow: hidden;
        }
    
        .body__header::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 25px 20px;
            border-color: transparent transparent #e7eff1 transparent;
            line-height: 0px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    
        .body__banner{
            margin-top: 30px;
            background: #FFFFFF;
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            z-index: 999;
        }
    
        .body__banner--image{
            object-fit: cover;
            padding: 20px;
        
        }
    
        .body__banner--image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 431/318;
        }

        .body__banner--info{
            padding: 0 20px;
        }
    
        
    
        .body__banner--info__link{
            padding: 5px 10px;
            background-color: #222B63;
            border-radius: 10px;
            color: var(--white);
            cursor: pointer;
            width: 100px;
        }
    
        .body__banner--info > label{
            float: right;
            font-size: 15px;
        }
    
        .body__banner--info p{
            text-align: justify;
            margin: 0;
        }
        .body__banner--info h6{
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: calc((34/20));
            margin: 0;
        }
    
        .body__banner--info p{
            padding-bottom: 20px;
            font-size: 14px;
            line-height: calc((20/14))
        }
    
        .body__content--menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 15px;
            flex-direction: column;
            padding-bottom: 80px;
            position: relative;
            z-index: 999;
        }
        .body__content--menu__link{
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            background-color: var(--button);
            border: none;
            color: var(--black);
            min-width: 100px;
            height: 50px;
            font-weight: 600;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
        }
        .body__content--menu button:nth-child(2){
            width: 170px;
        }
        
        .body__content{
            background-color: var(--white);
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .body__content--blog__articles{
            flex-direction: column;
            position: relative;
            padding-bottom: 30px;
            justify-content: center;
            grid-gap:25px;
            padding-top: 120px;

        }

        .g-col-12{
            flex: 50%;
        }

        
        .blog__article{
            /* width: 200px; */
            height: 100%;
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            background-color: white;
            /* margin-top: 20px; */
        }
    
        .blog__article  img{
            padding: 14px;
            width: 100%;
            object-fit: cover;  
        }
    
        .blog__article--button{
            margin-left: 14px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            border: none;
            padding: 4px 8px;
            background-color: #222B63;
            border-radius: 8px;
            color: var(--white);
        }
    
        .blog__article label{
            float: right;
            padding: 6px 14px 0 0;
            font-size: 14px;
        }
    
        .blog__article h6 {
            margin: 0;
            padding: 16px 14px 14px 18px;
            /* width: 272px; */
            font-size: 18px;
            line-height: 26px;
            text-align: justify;
        }
    
        .search_bar{
            position: relative;
            margin-bottom: 10px;
            /* margin-left: 430px;
            margin-right: 600px; */
            position: absolute;
            top: 350px;
            display: flex;
            justify-content: center;
            left: 10%;
            right: 10%;
    
        } 
    
        .tb-hidden{
            position: absolute;
            top: 320px;
            left: 30%;
            right: 30%;
        }
    
        .search_bar > input {
            margin-top: 12px;
            display: inline;
            width: 190px;
            height: 50px;
            border: 1px solid #2C7DC0;
            display: inline;
        }
        .search_bar > button{
            width: 61px;
            height: 50px;
            background-image: url("Group 11.svg");
            cursor: pointer;
            background-size: contain;
            border: none;
            padding:0;
            margin-top: 11.96px;
           
        }
        .blog_pagination{
            display: flex;
            justify-content: center;
        }
    
        .blog_pagination a{
            /* color: black; */
            padding: 8px 11px;
            text-decoration: none;
            font-size: 18px;
           
    
    
        }
    
        .blog_pagination a:hover{
            background-color: #222B63;
            color: var(--white);
            border-radius: 50%;
        }
    
        
        .poll{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    
        .poll > label:first-child{
            padding: 15px;
            font-weight: 600;
        }
    
    
        .poll__article{
            border: 1px solid #D9D9D9;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin-top: 12px;
            position: relative;
            z-index: 1;
            background: var(--white);  
            display: flex;
            width: 100%;
            height: 100%;
            
        }
    
        .poll__left-container{
            padding: 6px;
        }
    
    
        .poll__left-container img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .poll__right-container {
            padding: 6px;
            width: 100%;
            flex: 50%;
        }
    
    
        .image-link{
            float: left;
            height: 100%;
            width: 100%;
        }
    
    
         .poll__article--link{
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            border: none;
            background-color: var(--deepblue);
            padding: 5px;
            border-radius: 6px;
        }
        
         .poll__right-container  span{
            color: var(--white);
            
            
        } 
    
        .poll__right-container > label{
            font-size: 10px;
            padding-top: 10px;
            display: flex;
            
        }
    
        .poll__right-container > h6{
            margin: 0;
            font-weight: 550;
            font-size: 14px;
            line-height: calc((18/14));
            text-align: justify;
            padding-top: 18px;
            
            
        }
    
        .poll__tag{
            gap: 20px;
            justify-content: center;
        }
    
        .poll__tag--grp{
            background-color: #DDEFF8;
            border: none;
            border-radius: 15px;
            min-width: 94px;
            font-weight: 550;
            font-size: 14px;
            line-height: calc((23/14));
            text-align: center;
            cursor: pointer;  
            padding: 5px;
            
        }
    
        .mt-12{
            margin-top: 0;
        }

        .post__content{
            padding-top: 56px;
            position: relative;
            background-color: var(--white);
            padding-bottom: 53px;
        }
    
    
        .body__content--contact{
            background-color: var(--white);
            display: flex;
            justify-content: center;
            
        }
    
        .body__content--contact h2{
            /* padding: 105px 114.9px 30px 114.9px; */
            text-align: center;
            font-size: 4vw;
            line-height: 1.7;
            padding: 0 10px;
            margin: 0;
        }

        .activity_container{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

    
    
    
        .body__content--related__post{
            display: inline-flex;
            grid-gap: 20px;
            padding-bottom: 62px;
        }
    
        .body__content--releted__button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 50px 0 ;
        }
    
         .body__content--releted{
            background-color: var(--blue);
            position: relative;
            
        }
    
    
        .body__content--releted h4{
            text-align: center;  
            padding-top: 100px;
            padding-bottom: 50px;
            margin: 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 58px;
            color: var(--white);
            z-index: 999;
            position: relative;
        }

        

        .body__content--blog__nav>span{
            display: flex;
            justify-content: center;
            font-weight: 600;
            padding-bottom: 3px;
        }
        .pst_initial{
            position: initial;
            /* display: flex; */
        }

        .wd_100_mb{
            width: 100%;
        }

        .pd_10_mb{
            padding: 10px;
        }

        .activity--banner{
            background-image: url(https://voyager-hcm.com/images/patterns/pattern_2.png);
            background-size: cover;
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.13);
            display: flex;
            flex-direction: column;
            padding: 30px 20px;
            margin-top: 116px;
            margin-bottom: 50px;
        }
    
        .activity--info h4{
            color: var(--white);
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 35px
        }
    
        .activity--info{
            flex: 50%;
        }
    
        .activity--info p{
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            line-height: calc((23/16));
            text-align: justify;
            padding: 0;
            padding-top: 20px;
        }

        .activity--img img{
            width: 100%;
            padding-top: 20px;
        }
    
        .pswp-gallery{
            flex-direction: column;
            flex-wrap: nowrap;
            row-gap: 15px;
        }
    
    
        .img-container{
            position: relative;
            overflow: hidden;
            height: 100%;
        }
    
        .img-container > img{
            width: 100%;
            object-fit: cover;
            display: flex;
            
        }
        .section__contact--btn{
            width: 270px;
            height: 90px;
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 0px;
        }
    
        .overlay {
            position: absolute;
            bottom: 0;
            background: linear-gradient(180deg, rgba(44, 121, 187, 0) 0%, rgba(44, 125, 192, 0.4) 43.75%, rgba(34, 43, 99, 0.7) 100%);
            overflow: hidden;
            width: 100%;
            height: 70px;
            transition: .5s ease-out;
            height: 100%;
        }
    
    
    
        .img-container h5{
            margin: 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: var(--white);
            position: absolute;
            left: 20px;
            top: 20px;
            /* bottom: 105px; */
        }
    
        .img-container p{
            color: var(--white);
            font-weight: 400;
            font-size: 12px;
            line-height: 10px;
            text-align: justify;
            padding:  45px 20px;
            position: absolute;
            /* bottom: -40px; */
        }
    
        .img-container label{
            font-size: 14px;
            padding: 17px 20px 18px;
            transition: .5s ease-in-out;
            font-family: 400;
            font-size: 10px;
            color: var(--white);
            position: absolute;
            bottom: -10px;
            right: 0;
            text-decoration: underline;
        }
    
        .body__content--contact h5{
            text-align: center;
            font-size: 24px;
            line-height: 40px;
            margin: 0;
            color: var(--deepblue);
            padding-bottom: 20px;
        }
        .body__content::before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 233px 305px 0;
            border-color: transparent #e7eff1 transparent transparent;
            line-height: 0px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .body__content::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 25px 0;
            border-color: transparent #ffffff transparent transparent;
            line-height: 0px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .post__detail p{
            font-size: 14px;
            line-height: calc(23/14) ;
        }

        .post__detail h1{
            line-height: calc(35/20);
            font-size: 20px;
        }

        .post__detail h5{
            font-size: 20px;
        }
        .post__content::before{
            content: "";
            width: 0;
            height: 100px;
            border-style: solid;
            border-width: 0 0 305px 233px;
            border-color: transparent transparent #CCE6FC transparent;
            line-height: 0px;
            position: absolute;
            bottom: 0;
            right: 0;
            overflow: hidden;
            opacity: 50%;
        }
    
        .post__content::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 25px 20px;
            border-color: transparent transparent white transparent;
            line-height: 0px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    
    
        .body__content--releted::before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 233px 305px 0;
            border-color: transparent #CCE6FC transparent transparent;
            line-height: 0px;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 50%;
        }
    
        .body__content--releted::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 25px 0;
            border-color: transparent var(--blue) transparent transparent;
            line-height: 0px;
            position: absolute;
            top: 0;
            right: 0;
        }

       
        .section__info{
            flex-direction: column;
            gap: 20px;
        }

        .txt-center{
            text-align: center;
        }

        .section__ct br{
            padding-top: 10px;
        }


        .sp-justify-center{
            justify-content: center;
        }

        .sp-mb-5 {
            margin-bottom: 5px;
          }
        
    
    }
